.admin-nav-link{
    transition: all 0.3s ease;
    position: relative;
}

.admin-nav-link:hover{
    border-right: solid 3px #1cc2e7;
}

.admin-nav-active {
    background: rgba(28, 194, 231, 0.1);
    border-right: solid 3px #1cc2e7;
}

.admin-nav-active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, #1cc2e7, #0bccd3);
    border-radius: 0 10px 10px 0;
}