@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background-image: linear-gradient(to right, #0daae7, #0bccd3);
    -webkit-background-clip: text;
    color: transparent;
    
  }